<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body
{
  font-family:Quicksand;
	font-size: 18px;
	line-height:30px;
	color:black;
  scroll-behavior: smooth;
  margin: 0;
}
.wrapper{
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: .3s;

}

nav.black{
  background: rgba(0, 0, 0, 0.8);
  height: 70px;
  padding: 5px 10px;
}

nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 20px;
  transition: .3s;
}

nav.black .logo
{
  color:white;
}

nav ul{
list-style-type: none;
float: right;
margin: 0;
padding: 0;
display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  line-height: 80px;
  color:black;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a{
    color: #fff;
}

nav ul li a:focus{
  outline: none;
}


nav ul li a:hover{
  background-color: grey;
  color: #fff;
  border-radius: 8px;

}

.image
{
    margin-top:80px;


}

.c_1
{
    margin-top:70;
    margin-left:40;
    font-size:25px;
}
.second{
    clear: both;
    margin-top:100px;
    margin-left:50px;

}

.left
{
    float:left;
}

#one
{
    width:150px;
    margin-top:100;
    margin-left:250;


}
#two
{
    margin-top:40px;
    margin-left: 50px;
}

span.block {
    display: inline-block;
    width: 300px;
    height: 250px;
    padding: 40px;
    border: 2px solid black;
    background-color:grey;
  }




.container {
	max-width:400px;
	width:100%;
    margin-left:100px;
    margin-top:40px;


}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;

	color:black;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {

	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.base{
  padding: 0;
  margin: 0 0 0 0 ;
  width: 100%;
  height: 400px;
  background: url(bases.jpg);
  background-size: cover;
  left: 0;
  right: 0;
}
.base:after{
  content: "";
  display: table;
  clear: both;
}
.base .same{
  float: left;
  padding: 15px;
  width: 30%;
}
.base h4{
color: white;
padding: 15px 15px 2px 15px;
margin-left: 15px;
margin-top: 15px;
}

.base i{
  border:solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   margin-top: 10px;
}

.base ul{
  list-style-type: none;
}
.base ul li{
  list-style: none;
}

.base ul li a{
  color:grey;
  padding: 2px 3px;
  text-decoration: none;
  transition: .3s;
}
.base.black ul li a{
    color: #fff;
}

.base ul li a:focus{
  outline: none;
}


.base ul li a:hover{
  border-bottom: 2px solid grey;
  color: #fff;
  border-radius: 8px;
}

.base .text{
  margin-left: 5px;
}

.same p{
    text-align: justify;
    color: grey;
    margin-left: 25px;
    padding: 2px 3px;
    line-height: 20px;
  }




	/* Login/SignUp */

	 /* Pop-UP for Login/Sign */
	.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
	width: 50%;
	height: auto;
	background-color: black;
	color: white;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	 /* Could be more or less, depending on screen size */
	text-align: center;
	border-radius: 10px;
	}

	/* The Close Button */
	.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

	.close:hover,
	.close:focus {
	text-decoration: none;
	cursor: pointer;
	}


	.modal-content input[type=text]{
		width: 250px;
		height: 30px;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 400;
		padding: 4px;
	}

	.modal-content input[type=password]{
		width: 250px;
		height: 30px;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.modal-content input[type=submit]{
		width: 260px;
		height: 35px;
		background: #fff;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #a18d6c;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 6px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.modal-content input[type=email]{
		width: 250px;
		height: 30px;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.modal-content a{
	  color:grey;
	  padding: 2px 3px;
	  text-decoration: none;
	  transition: .3s;
	  font-size: 20px;
	}

	.modal-content a:hover{
	  border-bottom: 2px solid grey;
	  color: #fff;
	  border-radius: 8px;
	}
